body {
    font-family: 'Overpass', sans-serif;
    background-color: rgb(174, 231, 255);
}

.container {
    width: 365px;
    height: 560px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -182.5px;
    
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

img {
    max-width: 330px;
    margin-top: 15px;
    border-radius: 10px;
}

h2 {
    margin-top: 30px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}